<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contul meu</title>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="index-style d-flex" id="wrapper">
        <div class="sidebar-style border-end" id="sidebar-wrapper">
            <div class="sidebar-style sidebar-heading border-bottom">Meniu</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action p-3" href="home">Home</a>
                <a class="list-group-item list-group-item-action p-3" href="transactions">Tranzactiile mele</a>
                <a class="list-group-item list-group-item-action p-3" href="contracts">Contractele mele</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Contul meu</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 class="mt-4">Contul meu</h1>

                <h2 class="mt-1">
                    <%= account.username %>
                </h2>

                <b class="show-account-info">Nume: </b>
                <%= account.name %> <br> <br>
                    <b class="show-account-info">Email: </b>
                    <%= account.email %> <br> <br>
                        <b class="show-account-info">Telefon: </b>
                        <%= account.phone %> <br> <br>
                            <b class="show-account-info">Adresa: </b>
                            <%= account.address %> <br> <br>
                                <b class="show-account-info">Portofel digital: </b>
                                <%= account.wallet_address %> <br> <br>
                                    <br> <br>

                                    <h3 class="mt-1">Schimba datele contului</h3>
                                    <form action="http://localhost:3000/change-name" method="post"
                                        class="change-form" id="change-name-form" name="change-name-form">
                                        <div class="change-block">
                                            <label for="change-name">Nume</label>
                                            <input id="change-name" name="change-name" type="text" required>
                                        </div>
                                        <button type="submit" id="btn-submit-change-name" name="btn-submit-change-name"
                                            class="btn-change">Schimba numele</button>
                                    </form>
                                    <form action="http://localhost:3000/change-email" method="post"
                                        class="change-form" id="change-email-form" name="change-email-form">
                                        <div class="change-block">
                                            <label for="change-email">Email</label>
                                            <input id="change-email" name="change-email" type="text" required>
                                        </div>
                                        <button type="submit" id="btn-submit-change-email" name="btn-submit-change-email"
                                            class="btn-change">Schimba email-ul</button>
                                    </form>
                                    <form action="http://localhost:3000/change-phone" method="post"
                                        class="change-form" id="change-phone-form" name="change-phone-form">
                                        <div class="change-block">
                                            <label for="change-phone">Telefon</label>
                                            <input id="change-phone" name="change-phone" type="text" required>
                                        </div>
                                        <button type="submit" id="btn-submit-change-phone" name="btn-submit-change-phone"
                                            class="btn-change">Schimba telefon</button>
                                    </form>
                                    <form action="http://localhost:3000/change-address" method="post"
                                        class="change-form" id="change-address-form" name="change-address-form">
                                        <div class="change-block">
                                            <label for="change-address">Adresa</label>
                                            <input id="change-address" name="change-address" type="text" required>
                                        </div>
                                        <button type="submit" id="btn-submit-change-address" name="btn-submit-change-address"
                                            class="btn-change">Schimba adresa</button>
                                    </form>
                                    <form action="http://localhost:3000/change-wallet" method="post"
                                        class="change-form" id="change-wallet-form" name="change-wallet-form">
                                        <div class="change-block">
                                            <label for="change-wallet">Portofel digital</label>
                                            <input id="change-wallet" name="change-wallet" type="text" required>
                                        </div>
                                        <button type="submit" id="btn-submit-change-wallet" name="btn-submit-change-wallet"
                                            class="btn-change">Schimba adresa portofelului</button>
                                    </form>
                                    <form action="http://localhost:3000/change-password" method="post"
                                        class="change-form" id="change-password-form" name="change-password-form">
                                        <div class="change-block">
                                            <label for="change-old-password">Parola veche</label>
                                            <input id="change-old-password" name="change-old-password" type="text" required>
                                        </div>
                                        <div class="change-block">
                                            <label for="change-new-password">Parola noua</label>
                                            <input id="change-new-password" name="change-new-password" type="text" required>
                                        </div>
                                        <div class="change-block">
                                            <label for="change-repeat-password">Repeta parola noua</label>
                                            <input id="change-repeat-password" name="change-repeat-password" type="text" required>
                                        </div>
                                        <button type="submit" id="btn-submit-change-password" name="btn-submit-change-password"
                                            class="btn-change">Schimba parola</button>
                                    </form>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', event => {

            // Toggle the side navigation
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                // Uncomment Below to persist sidebar toggle between refreshes
                // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                //     document.body.classList.toggle('sb-sidenav-toggled');
                // }
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }

        });
    </script>
</body>

</html>